<html lang="en">

  <head>
    {{>links}}

  <body>

{{!-- partials file data --}}


    <!-- main-header -->
    <div class="container-fluid main_header">
      <div class="row">
        <div class="col-md-10 col-12 max-auto">
          <div class="row">
            <!-- right side div -->
            <div class="col-md-10 col-12 main_header_left align-items-center">
              <figure class="err-msg">
                <img
                  src="images/404.jpg"
                  alt="amir"
                  class="img-fluid"
                  title="amir techincal"
                />
              </figure>
           
            <!-- left side div -->
              <div class="err">
                <p>{{errMsg}}</p>
              <h1>Welcom to code with amir</h1>
              <a href="/"><button>Back</button></a>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
   
  </body>

</html>